<div class="contenido-home">
    <div class="dividir-dos">
        <div class="dividir-uno">
            
            <i class="far fa-gem"></i>
            <h3>Suerte</h3>
            <hr>
            <div class="texto-card">
                <p>Pon aprueba tu suerte en nuestra aplicacion movil 
                atraves de nuestros juegos completamente de azar. </p>

                <div>
                    <img src="../../../assets/imagenes/suerte.png" alt="">
                </div>
            </div>
        </div>

        <div class="dividir-uno">
            <h3>Interactua</h3>
            <hr>
                <div class="texto-card">
                    <p>Interactua en nuestra aplicacion movil donde podras jugar y ver todos los premios disponibles y restaurantes participantes.</p>

                    <div>
                        <img src="../../../assets/imagenes/movil.png" alt="">
                    </div>

                </div>
        </div>
    </div>

    <div  class="dividir-dos">
        <div class="dividir-uno">
            <h3>Puntos</h3>
            <hr>
            <div class="texto-card">
                <p>Gana y acumula puntos cada ves que juegues en nuestro App, estos puntos los podras canjear por cupones y descuentos.</p>

                <div>
                    <img src="../../../assets/imagenes/puntos.png" alt="">
                </div>

            </div>
        </div>

        <div class="dividir-uno">
            <h3>Premios</h3>
            <hr>
            <div class="texto-card">
                <p>Gana fabulosos premios de promociones y descuentos de comida en tus restaurantes favoritos de tu ciudad.</p>

                <div>
                    <img src="../../../assets/imagenes/comida.png" alt="">
                </div>

            </div>
        </div>
    </div>

    <div class="contenedor-juegos">
        <h3>¿Como me puedo divertir con esta aplicacion?</h3>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, dolorum. Accusantium accusamus sunt officiis iusto cumque! Repellat distinctio vel obcaecati officia, voluptates in odit deserunt quisquam suscipit voluptas. Ipsa, at!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur provident accusantium in est ipsa deserunt tempora adipisci dolore laborum officia. Aperiam facilis error, harum impedit accusantium consequatur unde quos at.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit facilis voluptatum eum aliquid omnis fugit id nam est quae consequuntur modi voluptas maxime ipsa sed, illum, sint ad placeat ab!
        </p>
        <hr>

        <div class="juego border-izquierdo">
            <div class="juego-texto">
                <h4>Adivinar</h4>
                <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae illo unde optio tempore consequatur, necessitatibus corporis voluptatum totam possimus ducimus laboriosam iste mollitia impedit esse explicabo temporibus nam ea nesciunt.</p>
            </div>
            <img src="../../../assets/imagenes/juego-adivinar.png" alt="">
        </div>
        <hr>

        <div class="juego border-derecho">
            
            <img src="../../../assets/imagenes/juego-ruleta.png" alt="">

            <div class="juego-texto">
                <h4>Ruleta (BETA)</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae illo unde optio tempore consequatur, necessitatibus corporis voluptatum totam possimus ducimus laboriosam iste mollitia impedit esse explicabo temporibus nam ea nesciunt.</p>
            </div>
        </div>


    </div>



</div>
